<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/custom.css') }}">
    
    <title>Filmes em Cartaz</title>
</head>

<body>
    <header>
        <div class="navbar bg-dark navbar-dark">
            <div class="container d-flex justify-content-between">
                <a href="" class="navbar-brand fw-bold">
                    FILMES
                </a>
                <nav>
                    <a href="" class="text-white">SOBRE</a>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="bg-light p-5 text-center">
            <div class="container">
                <h1> Filmez em Cartaz </h1>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row filmes"> 
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="bg-dark text-white text-center p-2">
            <span>Projeto Acos Service</span>
            <br>
            <span> Amazendo in <a href="https://github.com/aureliolk/api_filmes_cinemas"> GITHUB </a></span>  
        </section>
    </footer>
    <!-- carregamento de scrip -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename= 'js/script.js') }}" type="text/javascript"></script>
</body>

</html>